html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2c2c2ccc;
  height: 100px;
}

.main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.main-nav li {
  margin: 0 30px;
}

.main-nav .active {
  color: #f4ae3d;
}

.main-nav a {
  color: #edf3f3;
  text-decoration: none;
  font-size: 30px;
}

.main-nav a:hover {
  color: #f4ae3d;
}

.reg_button {
  background-color: #e6e6e6;
  border: 1px solid #9c9c9c;
  border-radius: 74px;
  color: #2c2c2ccc;
  width: 220px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
}

.reg_button img {
  margin-right: 10px;
  margin-top: 10px;
  width: 30px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.line .company_name {
  font-size: 100px;
  font-family: "Alegreya SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}

.line h2 {
  font-size: 40px;
  color: #2c2c2ccc;
}

.line h3 {
  font-size: 50px;
  color: #2772e1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.create_park {
  background-color: #f4ae3d;
  border: 1px solid #9c9c9c;
  border-radius: 74px;
  color: #edf3f3;
  width: 350px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-decoration: none;
  margin-top: 20px;
}

.no_log {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.no_log .company_name {
  font-size: 100px;
  font-family: "Alegreya SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}

.no_log h2 {
  font-size: 40px;
  color: #2c2c2ccc;
}

.car-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.car-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.car-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.car-card h3 {
  margin: 0;
  color: #2772e1;
  font-size: 40px;
}

.car-card p {
  margin: 10px 0;
  color: #555;
  font-size: 30px;
}

.car-card img {
  width: 100%;
  border-radius: 5px;
}

.card-actions {
  margin-top: 15px;
}

.card-actions .btn {
  background-color: #2772e1;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s;
  font-size: 25px;
}

.card-actions .btn:hover {
  background-color: #1a56b3;
}
