html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2c2c2ccc;
  height: 100px;
}

.main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.main-nav li {
  margin: 0 30px;
}

.main-nav .active {
  color: #f4ae3d;
}

.main-nav a {
  color: #edf3f3;
  text-decoration: none;
  font-size: 30px;
}

.main-nav a:hover {
  color: #f4ae3d;
}

.reg_button {
  background-color: #e6e6e6;
  border: 1px solid #9c9c9c;
  border-radius: 74px;
  color: #2c2c2ccc;
  width: 220px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
}

.reg_button img {
  margin-right: 10px;
  margin-top: 10px;
  width: 30px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inf_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 1350px;
  height: 550px;
  border-radius: 125px;
}

.main_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 1350px;
  height: 1070px;
}

.main_cont .inf_img {
  margin-top: 100px;
}

.main_cont .inf_header h1 {
  margin-bottom: 30px;
}

.inf_cont,
.main_cont {
  background-color: #edf3f3;
}

.inf_header {
  text-align: center;
  color: #2772e1;
  font-size: 25px;
}

.inf_header h1 {
  margin-bottom: 10px;
}

.company_name {
  font-size: 55px;
  font-family: "Alegreya SC", serif;
  font-weight: 400;
  font-style: normal;
}

.user {
  background-color: #e6e6e6;
  border: 1px solid #9c9c9c;
  border-radius: 74px;
  color: #2c2c2ccc;
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 23px;
  text-decoration: none;
}

.user h1 {
  margin: 0;
}

.user img {
  margin-right: 10px;
  width: 30px;
  position: relative;
  top: 20px;
}

.exit img {
  margin-right: 10px;
  width: 30px;
  position: relative;
  top: 7px;
}

.exit {
  text-decoration: none;
  color: #2c2c2ccc;
}

.inf_text,
.inf_third_block {
  color: #101011;
  font-size: 25px;
  text-align: justify;
}

.inf_third_block {
  margin-top: 50px;
}

.inf_third_block p {
  width: 600px;
  margin-right: 80px;
}

.down_text {
  text-align: center;
  width: 1200px;
  margin-top: 30px;
}

.inf_into_header {
  color: #101011;
  font-size: 25px;
}

.ih_left {
  text-align: left;
}

.ih_left h1 {
  margin-bottom: 50px;
  margin-top: 0;
  font-size: 60px;
}

.inf_many {
  width: 550px;
  margin-right: 55px;
}

.inf_text_center {
  text-align: center;
  width: 1200px;
  margin-top: 1px;
}

.inf_text_line {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.inf_text_line img {
  margin-right: 10px;
}

.inf_wrap,
.inf_third_block {
  display: flex;
  align-items: center;
}

.inf_img_double {
  margin-right: 100px;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  border-top: 4px solid black;
  padding: 0 0 10px 0;
}

.footer_top {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #999;
  justify-content: space-evenly;
  margin-top: 10px;
}

.footer_top p {
  font-size: 35px;
  color: #000000;
  margin-left: 40px;
}

.icons {
  position: relative;
  right: 150px;
  display: flex;
  align-items: center;
}

.icons svg {
  margin-right: 35px;
  cursor: pointer;
}

.up {
  margin-left: 50px;
}

.up:hover circle {
  fill: #f4ae3d;
}

.up:hover path {
  fill: #ececec;
}

.whats:hover .whats_circle {
  fill: #25d366;
  stroke: #25d366;
}

.whats:hover .whats_path {
  fill: #ececec;
}

.tg:hover .tg_circle {
  fill: #2772e1;
  stroke: #2772e1;
}

.tg:hover .tg_path {
  fill: #ececec;
}

.ft_txt {
  display: flex;
  align-items: center;
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}

.fb_txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 20px;
}

.fb {
  color: #f4ae3d;
}

.rate {
  display: flex;
  align-items: center;
}

.rate_inf {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6a6a6a;
  font-size: 25px;
  margin-left: 20px;
}

@media (max-width: 645px) {
  .main-nav ul {
    flex-direction: column;
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .reg_button {
    border-radius: 74px;
    width: 180px;
    height: 50px;
    font-size: 24px;
  }

  .reg_button img {
    margin-right: 5px;
    margin-top: 10px;
    width: 20px;
  }

  .main-nav a {
    font-size: 24px;
  }

  .main-nav li {
    margin-top: 10px;
  }
}

@media (max-width: 405px) {
  .reg_button {
    border-radius: 74px;
    width: 150px;
    height: 50px;
    font-size: 20px;
  }

  .reg_button img {
    margin-right: 5px;
    margin-top: 10px;
    width: 20px;
  }

  .main-nav a {
    font-size: 20px;
  }

  .main-nav li {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1385px) {
  .inf_cont {
    margin-top: 100px;
    width: 1000px;
    height: 400px;
  }

  .main_cont {
    margin-top: 100px;
    width: 1000px;
    height: 870px;
  }

  .main_cont .inf_img img {
    width: 900px;
    height: 358px;
  }

  .main_cont .inf_text_line {
    font-size: 15px;
  }

  .main_cont .inf_header {
    font-size: 18px;
  }

  .inf_wrap .inf_img img {
    width: 400px;
  }

  .inf_third_block img {
    width: 400px;
  }

  .inf_third_block p {
    margin-right: 30px;
    width: 500px;
  }

  .down_text {
    width: 900px;
  }

  .inf_text,
  .inf_text_center,
  .inf_into_header {
    font-size: 18px;
  }

  .inf_img img {
    width: 400px;
  }

  .inf_many {
    width: 400px;
    margin-top: 0;
  }

  .inf_img_double {
    margin-right: 50px;
  }

  .inf_text_center {
    width: 1000px;
  }

  .icons {
    right: 0px;
  }
}

@media screen and (max-width: 1035px) {
  .inf_cont {
    margin-top: 100px;
    width: 700px;
    height: 650px;
  }

  .main_cont {
    margin-top: 100px;
    width: 700px;
    height: 870px;
  }

  .main_cont .inf_img img {
    width: 667px;
    height: 266px;
  }

  .inf_wrap {
    flex-direction: column;
  }

  .main_cont .inf_text_line {
    width: 650px;
  }

  .main_cont .inf_header {
    font-size: 18px;
  }

  .inf_header {
    font-size: 20px;
  }

  .inf_wrap .inf_img img {
    width: 600px;
  }

  .inf_third_block img {
    width: 400px;
  }

  .inf_third_block p {
    margin-right: 30px;
    width: 500px;
  }

  .inf_third_block {
    flex-direction: column;
  }

  .ih_left h1 {
    margin-bottom: 30px;
  }

  .ih_left {
    text-align: center;
  }

  .down_text {
    width: 600px;
  }

  .inf_text,
  .inf_text_center,
  .inf_into_header {
    font-size: 18px;
  }

  .inf_img img {
    width: 400px;
  }

  .inf_many {
    width: 600px;
    margin-top: 0;
    margin-right: 0;
  }

  .inf_img_double {
    margin-right: 50px;
  }

  .inf_text_center {
    width: 1000px;
  }

  .icons {
    right: 0px;
  }
}
