html {
  box-sizing: border-box;
  font-size: 10px;
  font-style: normal;
  background-color: #ffeae3;
  margin: 0;
}

* {
  font-family: "M PLUS Rounded 1c", serif;
  font-weight: 400;
}

body {
  margin: 0;
}

header {
  border-bottom: 2px solid #b3b2b2;
  margin-bottom: 50px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: end;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: 25px;
  width: 200px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}

.logo img {
  width: 150px;
  height: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 2px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: center;
}

.remove {
  border: none;
  background-color: transparent;
}

.button {
  display: inline-block;
  background-color: #d9a897;
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  font-size: 25px;
}

.button:hover {
  background-color: #c09587;
}

form {
  display: inline;
}

h1 {
  text-align: center;
  font-size: 50px;
}

p {
  font-size: 25px;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
