html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "M PLUS Rounded 1c", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffeae3;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  border-bottom: 2px solid #b3b2b2;
  margin-bottom: 50px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: end;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: 25px;
  width: 200px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}

.logo img {
  width: 150px;
  height: 150px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
}

.head h1 {
  font-size: 50px;
}

.head p {
  font-size: 25px;
  width: 100%;
}

.head a {
  font-size: 25px;
  text-decoration: none;
  color: #eeeeee;
  background-color: #d9a897;
  padding: 20px;
  border-radius: 200px;
}

.head img {
  border-radius: 50px;
  margin-top: 100px;
  width: 1300px;
}

.catalog {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-right: 200px;
  padding-left: 200px;
}

.catalog h2 {
  font-size: 50px;
  text-align: center;
}

.catalog p {
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.goods {
  display: flex;
  justify-content: space-between;
}

.good img {
  width: 400px;
  border-radius: 30px;
}

.good h3 {
  font-size: 30px;
}

.good p {
  font-size: 20px;
  text-align: left;
  width: 400px;
}

.good a {
  font-size: 25px;
  text-decoration: none;
  color: #eeeeee;
  background-color: #d9a897;
  padding: 20px;
  border-radius: 200px;
}

.brands {
  margin-bottom: 100px;
  padding-right: 200px;
  padding-left: 200px;
}

.brands h2 {
  font-size: 50px;
  text-align: center;
}

.brands p {
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.brands-logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.brands-logos img {
  width: 150px;
  height: 150px;
}

.inf-block {
  width: 100%;
  background-color: #f3d9d1;
}

.about-us {
  display: flex;
  justify-content: space-around;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 100px;
  align-items: center;
  margin-bottom: 200px;
}

.about-us .left h2 {
  font-size: 50px;
  text-align: left;
  margin-bottom: 1px;
}

.about-us .left p {
  font-size: 20px;
  text-align: left;
}

.about-us .right p {
  font-size: 20px;
  text-align: left;
  width: 600px;
}

.contact {
  padding-right: 200px;
  padding-left: 200px;
}

.contact h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.contact p {
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 100px;
}

.contact-info p {
  font-size: 25px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact-info img {
  padding: 10px;
  background: #d9a897;
  border-radius: 50px;
  width: 30px;
}

.contact-info .right input,
.contact-info .right textarea {
  width: 500px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #eeeeee;
  background-color: #f3d9d1;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}

.contact-info .right textarea {
  height: 100px;
}

.contact-info .right input:focus,
.contact-info .right textarea:focus {
  outline: none;
  border: 2px solid #d9a897;
}

.contact-info .right input[type="submit"] {
  background-color: #d9a897;
  color: #eeeeee;
  border: none;
  border-radius: 50px;
  padding: 20px;
  cursor: pointer;
}
