html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.bellota-text-regular {
  font-family: "Bellota Text", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("bg.jpg");
  font-family: "Bellota Text", sans-serif;
  font-weight: 400;
}

.menu_box {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  background-image: url("bg_alt.jpg");
  height: 150px;
  border-bottom: rgba(0, 0, 0, 0.65) solid 3px;
  position: absolute;
  width: 100%;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}

.menu_osn {
  width: 1px;
}

#menu_toggle {
  opacity: 0;
  position: absolute;
}

.menu_btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 501;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: whitesmoke;
  transition: transform 0.2s ease-in-out;
}

.menu_btn > span::before {
  content: "";
  top: -15px;
}

.menu_btn > span::after {
  content: "";
  top: 15px;
}

#menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
}

#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu_toggle:checked ~ .menu_box {
  visibility: visible;
  opacity: 1;
  right: 0;
}

.menu_osn ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left_side li {
  margin: 90px 50px 0 0;
}

.right_side li {
  margin: 90px 0 0 50px;
}

.menu_osn a {
  color: #1c0a00;
  text-decoration: none;
  font-weight: 800;
}

.logo img {
  width: 130px;
  height: 130px;
}

.menu {
  width: 1px;
  display: none;
}

#menu__toggle {
  opacity: 0;
  position: absolute;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 501;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: whitesmoke;
}

.menu__btn > span::before {
  content: "";
  top: -15px;
}

.menu__btn > span::after {
  content: "";
  top: 15px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  top: 0;
  right: 100%;
  width: 250px;
  height: 100vh;
  margin: 0px;
  padding-top: 150px;
  list-style: none;
  text-align: right;
  background-image: url("/images/menu_adapt.png");
  z-index: 500;
}

.menu__item {
  display: block;
  text-align: right;
  padding-right: 40px;
  margin-bottom: 60px;
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-weight: 600;
  text-decoration: none;
}

.menu a {
  text-decoration: none;
  color: #451800;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  opacity: 1;
  right: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 70px;
  color: #c8b396;
  margin-bottom: 0;
}

.conts {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h2 {
  font-size: 35px;
  color: #fff;
}

p {
  font-size: 25px;
  color: #fff;
}

@media screen and (max-width: 1440px) {
  iframe {
    width: 650px;
    height: 350px;
  }

  h2 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .menu_osn {
    display: none;
  }

  .menu {
    display: block;
  }

  iframe {
    width: 500px;
  }

  .conts {
    width: 500px;
  }

  h1 {
    font-size: 40px;
  }

  main {
    margin-top: 80px;
  }
}

@media screen and (max-width: 480px) {
  iframe {
    width: 300px;
    height: 300px;
  }

  .conts {
    width: 300px;
    margin-bottom: 70px;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  main {
    margin-top: 120px;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 25px;
  }
}
