html {
   box-sizing: border-box;
   font-size: 10px;
}

@font-face {
   font-family: "zags";
   src: url("fonts/zags.ttf");
   font-weight: normal;
}

@font-face {
   font-family: "osnov";
   src: url("fonts/osnov.ttf");
   font-weight: normal;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex; 
  align-items: center;  
  position: fixed;
  top: 30px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 0px;
  list-style: none;
  text-align: left;
  background-color: rgba(0, 0, 0, .95);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: whitesmoke;
  font-size: 18px;
  text-decoration: none;
  margin-top: 50px;
}

.menu li {
   border-bottom: 2px solid darkred;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}

.menu__box {
  transition-duration: .25s;
}

.menu__item {
  transition-duration: .25s;
}

.menu {
   display: none;
}

.menu a:hover {
   transform: scale(1.1);
}

.log img {
   width: 120px;
   height: 120px;
}

a, h1, h2  {
   font-family: "zags";
}

p {
   font-family: "osnov";
}

.prav p {
   font-family: "zags";
}

.prav a:hover {
   color: darkred;
   transition: 0.2s linear
}

body {
   margin: 0;
   padding: 0;
}

header {
   display: flex;
   background-color: rgba(0, 0, 0, .5);
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
   z-index: 500;
   position: fixed;
   top: 0;
   width: 100%;
}

.nav {
   display: flex;
   list-style-type: none;
}

header p, header a {
   text-decoration: none;
   font-size: 18px;
   color: whitesmoke;
}

.nav a {
   position: relative;
}

.nav a:after {
   content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 3px; 
  background-color: darkred; 
  transition: width 0.5s;
}

.nav a:hover:after {
   content: "";
  width: 100%;
   display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px; 
  background-color: darkred;
  transition: width 0.5s;  
}

.logo {
   margin-right: 150px;
}

.prav {
   margin-left: 100px;
}

.prav a:hover {
   color: darkred;
}

.nav li {
   margin-left: 50px;
}

.usl {
   display: inherit;
   visibility: hidden;
   position: absolute;
   opacity: 0;
   top: 90px;
   transition: visibility 0s, opacity 0.3s linear;
   padding: 0;   
   list-style: none;
   background-color: rgba(0, 0, 0, .5);
}

.usl li {
   margin-left: 0;
   margin-top: 40px;
}

.usl li:last-child {
   margin-bottom: 20px;
   margin-left: 0;
}

.usl a {
   font-size: 15px;
}

.uslu:hover > .usl {
   visibility: visible;
   opacity: 1;
}

.us {
   display: inherit;
   visibility: hidden;
   position: absolute;
   opacity: 0;
   top: 90px;
   transition: visibility 0s, opacity 0.3s linear;
   padding: 0;   
   list-style: none;
   background-color: rgba(0, 0, 0, .5);
   width: 90px;
   height: 140px;
}

.us li {
   margin-left: 0;
   margin-top: 40px;
}

.us li:last-child {
   margin-bottom: 20px;
   margin-left: 0;
}

.us a {
   font-size: 15px;
}

.uss:hover > .us {
   visibility: visible;
   opacity: 1;
}

footer {
   background-color: black;
   width: 100%;
   height: 200px;
   margin-top: 100px;
   display: flex;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;
}

footer p {
   font-size: 20px;
   color: grey;
}

footer img {
   margin-right: 20px;
}

input {
   border: 1px solid whitesmoke;
   background: none;
   height: 20px;
   color: whitesmoke;
}

.str {
   position: absolute;
   right: 20px;
   width: 100px;
   height: 100px;
}

.shap img {
   width: 100%;
}

.shap {
   width: 100%;
   height: 600px;
   overflow: hidden;
   border-bottom: 5px solid darkred;
}

.text {
   color: whitesmoke;
   position: absolute;
   top: 400px;
   left: 200px;
}

.text h1 {
   font-size: 55px;
}

.blocks {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top: 100px;
}

.blocks.s {
   margin-top: 0px;
}

.bol {
   width: 600px;
   height: 400px;
   border: 2px solid darkred;
   margin-bottom: 250px;
}

.bol.us1 {
   background-image: url("images/1.jpeg");
   background-size: cover;
   background-repeat: no-repeat;
}

.bol.us2 {
   background-image: url("images/2.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}

.bol.us3 {
   background-image: url("images/3.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}

.bol.us4 {
   background-image: url("images/4.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}

.in {
   margin-top: 50px;
   font-size: 40px;
}

.inf p {
   color: whitesmoke;
   font-size: 60px;
   margin: 250px 0 30px 30px;
}

.inf a {
   color: red;
   font-size: 40px;
   text-decoration: none;
   margin-left: 30px;
   position: relative;
}

.inf a:after {
   content: "";
   display: block;
   position: absolute;
   right: -125px;
   bottom: 19px;
   width: 0;
   height: 3px; 
   background-color: red; 
   transition: width 0.5s;
}

.inf a:hover:after {
   content: "";
   width: 50%;
   display: block;
   position: absolute;
   left: 250px;
   bottom: 19px;
   height: 3px; 
   background-color: red;
   transition: width 0.5s;  
}

.inf a:before {
   content: '';
   transform: rotate(-45deg);
   border-right: 2px solid red;
   border-bottom: 2px solid red;
   position: absolute;
   left: 360px;
   bottom: 15px;
   width: 10px;
   height: 10px;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0.5s, opacity 0.5s;
}

.inf a:hover:before {
   visibility: visible;
   opacity: 1;
   transition: visibility 0.5s, opacity 0.5s;
}

@media screen and (max-height: 650px) {
   .menu__box {
      overflow-y: scroll;
   }
}

@media screen and (max-width: 1325px) {
   .shap {
      height: 550px;
   }

   .logo {
      margin-right: 60px;
   }

   .nav li {
      margin-left: 40px;
   }

   .usl li {
   margin-left: 0;
   }

   .us li {
   margin-left: 0;
   }

   .bol {
   width: 500px;
   height: 300px;
   }

   .inf p {
   margin: 170px 0 30px 25px;
   font-size: 50px;
   }

   .inf a {
      margin-left: 25px;
      font-size: 30px;
   }

   .in {
      font-size: 35px;
      margin-top: 40px;
   }

   .inf a:after {
   right: -100px;
   }

   .inf a:hover:after {
   left: 200px; 
   }

   .inf a:before {
   left: 280px;
   }  
}


@media screen and (max-width: 1185px) {
   .logo {
      margin-right: 30px;
   }

   .nav li {
      margin-left: 30px;
   }

   .prav {
      margin-left: 60px;
   }

   .usl li {
   margin-left: 0;
   }

   .us li {
   margin-left: 0;
   }

   .bol {
   width: 400px;
   height: 300px;
   }

   .inf p {
   margin: 170px 0 30px 20px;
   font-size: 50px;
   }

   .inf a {
      margin-left: 20px;
      font-size: 30px;
   }

   .in {
      font-size: 30px;
      margin-top: 40px;
   }

   .inf a:after {
   right: -100px;
   }

   .inf a:hover:after {
   left: 200px; 
   }

   .inf a:before {
   left: 280px;
   }
}

@media screen and (max-width: 1085px) {
   .logo img {
      width: 90px;
      height: 90px;
   }

   .logo {
      margin-right: 10px;
   }

   .nav li {
      margin-left: 30px;
   }

   .usl {
   top: 55px;
   }

   .usl li {
   margin-left: 0;
   }

   .usl a {
   font-size: 12px;
   }

   .us {
   top: 55px;
   width: 70px;
   height: 120px;
   }

   .us li {
   margin-left: 0;
   }

   .us a {
   font-size: 12px;
   }

   .prav {
      margin-left: 40px;
   }

   header a, header p {
      font-size: 15px; 
   }
}

@media screen and (max-width: 960px) {
   .shap {
      height: 400px;
   }

   .text {
   top: 250px;
   left: 120px;
   }
}

@media screen and (max-width: 876px) {
   .nav {
      display:none;
   }

   .menu {
      display: inherit;
   }

   .logo img {
      width: 130px;
      height: 130px;
   }

   header a, header p {
      font-size: 18px; 
   }

   .bol {
   width: 350px;
   height: 250px;
   }

   .inf p {
   margin: 130px 0 30px 20px;
   font-size: 40px;
   }

   .inf a {
      margin-left: 20px;
      font-size: 25px;
   }

   .inf a:after {
   right: -80px;
   bottom: 14px;
   }

   .inf a:hover:after {
   left: 160px;
   bottom: 14px; 
   }

   .inf a:before {
   left: 225px;
   bottom: 10px;
   }
}

@media screen and (max-width: 760px) {
   .prav img {
      width: 20px;
      height: 20px;
   }

   .bol {
   width: 300px;
   height: 200px;
   }

   .inf p {
   margin: 90px 0 30px 15px;
   }

   .inf a {
      margin-left: 15px;
   }

   .in {
      font-size: 25px;
      margin-top: 35px;
   }

   .shap {
      height: 300px;
   }

   .text {
   top: 160px;
   left: 120px;
   }
}

@media screen and (max-width: 680px) {
   .bol {
   width: 250px;
   height: 150px;
   }

   .inf p {
   margin: 60px 0 30px 10px;
   font-size: 30px;
   }

   .inf a {
      margin-left: 10px;
      font-size: 20px;
   }

   .in {
      margin-top: 35px;
   }

   .inf a:after {
   right: -70px;
   bottom: 11px;
   }

   .inf a:hover:after {
   left: 130px;
   bottom: 11px; 
   }

   .inf a:before {
   left: 180px;
   bottom: 7px;
   }
}

@media screen and (max-width: 555px) {
   .logo img {
      width: 100px;
      height: 100px;
   }

   header a, header p {
      font-size: 15px; 
   }

   footer {
      height: auto;
   }

   .right {
      margin-bottom: 15px;
   }

   .blocks {
      flex-direction: column;
   }

   .bol {
   width: 400px;
   height: 300px;
   }

   .inf p {
   margin: 170px 0 30px 20px;
   font-size: 50px;
   }

   .inf a {
      margin-left: 20px;
      font-size: 30px;
   }

   .in {
      font-size: 30px;
      margin-top: 40px;
   }

   .inf a:after {
   right: -100px;
   }

   .inf a:hover:after {
   left: 200px; 
   }

   .inf a:before {
   left: 280px;
   }

   .shap {
      height: 250px;
   }

   .text {
   top: 120px;
   left: 100px;
   } 
}

@media screen and (max-width:475px) {
   .logo img {
      width: 80px;
      height: 80px;
   }
}

@media screen and (max-width: 446px) {
   header a, header p {
      font-size: 12px; 
   }

   .bol {
   width: 350px;
   height: 250px;
   }

   .inf p {
   margin: 130px 0 30px 15px;
   font-size: 45px;
   }

   .inf a {
      margin-left: 15px;
      font-size: 30px;
   }

   .in {
      margin-top: 30px;
   }

   .shap {
      height: 200px;
   }

   .text {
   top: 80px;
   left: 40px;
   }
}

@media screen and (max-width: 380px) {
   .menu__btn {
      width: 20px;
      height: 18px;
      right: 10px;
   }

   .bol {
   width: 300px;
   height: 200px;
   }

   .inf p {
   margin: 100px 0 30px 15px;
   font-size: 40px;
   }

   .inf a {
      margin-left: 15px;
      font-size: 25px;
   }

   .in {
      margin-top: 20px;
      font-size: 25px;
   }

   .shap {
      height: 150px;
   }

   .text {
   top: 80px;
   left: 40px;
   }

   .text h1 {
   font-size: 35px;
   }

   .inf a:after {
   right: -80px;
   }

   .inf a:hover:after {
   left: 160px; 
   }

   .inf a:before {
   left: 225px;
   }
}